<ion-view title="Activated" id="page5" style="" hide-back-button="true">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/uS7PrLyKTUSEkA1r05r8_logo.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <button id="activated-button7" style="color:#FFFFFF;border-radius:0px 0px 0px 0px;" class="button button-assertive  button-block">Activated</button>
    <p>IP : {{IP}}</p>
    <div class="list card" id="activated-card23"></div>
  </ion-content>
</ion-view>
