<ion-view title="Activate Your Account" id="page3" style="">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/uS7PrLyKTUSEkA1r05r8_logo.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <button id="activateYourAccount-button6" ng-click="activate()" class="button button-positive  button-block">Activate My Account</button>
    <div class="list card" id="activateYourAccount-card22"></div>
    <ion-list id="activateYourAccount-list2">
      <ion-item class="item-icon-right" id="activateYourAccount-list-item5" style="">TOS
        <i class="icon ion-android-alert icon-accessory"></i>
      </ion-item>
    </ion-list>
    <div id="activateYourAccount-markdown4" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:-1px;">*By clicking activate , you give the Anti-Theft app full permission to get the location of your device at any time. You grant aswell full permission to take screenshots , take pictures and all included features.</p>
    </div>
  </ion-content>
</ion-view>
